skill_progress0.csv
skill_progress.py
__pycache__/my_about.cpython-312.pyc
__pycache__/my_interests.cpython-312.pyc
__pycache__/my_patents.cpython-312.pyc
__pycache__/my_skills_and_interests.cpython-312.pyc
__pycache__/my_startup.cpython-312.pyc
